@font-face {
    font-family: Raleway;   
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
    font-family: josefin;
    src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf);
}

html, body {height: 100%}

body {
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    background-color: rgb(209, 205, 205);
    /* background-color: #223; */
    color: #777;
    z-index: -2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "josefin";
}

th {
    font-family: "montserrat";
    text-align: center;
}

.cover-image-container {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.cover-image {
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.navbar {
    margin: 0;
    /* background-color: rgb(15, 15, 27); */
    border: 0;
    font-size: 13px;
    letter-spacing: 2px;
    border-radius: 0;
    min-height: 0;
    z-index: 10;
}

.navbar li a, .navbar .navbar-brand a {
    color: #eee;
    border-radius: 30px;
    margin: 3px 12px;
    padding-top: 6px;
    text-decoration: none;
}

.nav-stacked {
    margin-top: 1.5em;
}

.nav-stacked li a {
    color: #eee;
    border-radius: 30px;
    margin: 6px 0;
}

.navbar .navbar-nav li > a:focus, .navbar .navbar-nav li > a:hover, .navbar .navbar-nav li.active > a {
    color: rgb(255, 217, 0);
    background-color: transparent;
    border-top: 1px solid #1ff;
    border-left: 1px solid #1ff;
    /* padding-bottom: 6px; */
    vertical-align: middle;
}
.navbar .navbar-nav li.open a, .navbar .navbar-nav li.open a:focus, .navbar .navbar-nav li.open a:hover {
    background-color: transparent;
}

.icon-bar {
    border-color: transparent;
    background-color: #eee;
}

.manage-sidebar {
    margin-bottom: 0;
    margin-top: 0;
    /* background-color: rgb(250, 250, 250); */
    font-size: 14px;
    letter-spacing: 1px;    
    padding: 0;
    overflow-wrap: break-word;
    width: 100%;
}

.sim-short {
    min-height: 10em;
    max-height: 15em;
}

.full-width {
    width: 100%;
}

.part-width {
    width: 50%;
}

.dropdown-menu, .dropdown-submenu {
    background-color: rgb(15, 15, 27);
    color: #eee;
    z-index: 1000;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #ddd;
    border: none;
}

.dropdown-submenu {
    position: relative;    
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;    
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;    
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
    border-color: #3097d1;
}
.dropdown-menu li.open a, .dropdown-menu li a:focus, .dropdown-menu li a:hover {
    color: #1ff;
    background-color: transparent;
    border-left: 1px solid #1ff;
    vertical-align: middle;
}

.online {
    color: rgb(0, 200, 0);
}

.offline {
    color: rgb(255, 0, 0);    
}

.menu {    
    padding: 0;
    margin: 0;    
}

#terminallist {
    padding: 0;
    margin: 0;
}

.menu-nav li a:hover, .menu-nav li.active a {
    color: #000;
    background-color: transparent;
    border-bottom: none;
    border-left: 2px solid #00f;    
}



.menu-nav-stacked {
    color: #eee;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #333;        
    font-size: 14px;
    letter-spacing: 2px;    
    padding: 0;
}

.menu-nav-stacked li a {    
    color: #eee;    
    font-size: .9em;    
}

.menu-nav-stacked li a .glyphicon {    
    font-size: 25px;
}

.menu-nav-stacked li a:hover, .menu-nav-stacked li.active a {
    color: #fff;
    background-color: rgb(15, 15, 27);    
    border-left: 4px solid #00f;
}

#map {    
    min-height: 36em;
    
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
}

.control-container {
    padding: 0;
    margin: 0;
}

.card-icon {
    font-size: 10em;
}

.border-right {
    border-right: 1px solid #999;
}

.margin-bottom {    
    margin-bottom: 5em;
}

.notify-alert {
    border-radius: 0;
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.notify-alert-inverse {
    border-radius: 0;
    background-color: rgba(55, 27, 0, 0.7);
    color: #fff;
    font-size: 14px;
}

.alert-notify-info {
    border: 2px solid #66f;
}

.alert-notify-primary {
    border: 2px solid #66c;
}

.alert-notify-success {
    border: 2px solid #6c6;
}

.alert-notify-danger {
    border: 2px solid #c66;
}


.alert-notify-inverse-info .alert-icon {
    color: #0ff;
}

.alert-notify-inverse-primary .alert-icon {
    color: #00f;
}

.alert-notify-inverse-success .alert-icon {
    color: #0f0;
}

.alert-notify-inverse-danger .alert-icon {
    color: #f00;
}

.notify-close {
    font-size: 20px;
    color: #fff;
    opacity: 1;
    border-radius: 50%;
    padding: 0;
}

.mapcontent-holder {
    position: relative;
    top: 0%;
    left: 0%;
}

.floating-panel {
    z-index: 10;
}

.floating-panel-top {
    position: absolute;
    top: 10px;
    left: 20%;
    z-index: 5;
    background-color: #eee;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

.floating-panel-right {
    position: absolute;
    top: 10px;
    right: 0%;
    z-index: 5;
    background-color: #eee;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    overflow: scroll;
}

.nomargin {
    margin: 0;
}

.tooltip > .tooltip-inner {
    background-color: #222;
    color: #f9f9f9;
    border: 1px solid #aaa;
    padding: 15px;
    font-size: 14px;
}

.h4-sim {
    font-size: 18px;
}

thead, .google-visualization-table-table thead {
    background-color: rgb(15, 15, 27);
    color: #fff;
}

tbody tr td {
    color: #000;
}

tfoot {
    background-color: #444;
    color: #fff;
}

.btn-outline-black {
    border: 1px solid #fff;
}

.btn-outline-white {
    border: 1px solid #fff;
}

.form-control {
    border-radius: 30px;
}

.btn-rounded {
    border-radius: 25px;
}

.btn-wide {
    min-width: 10em;
}

.btn-circle {
    border-radius: 50%;
}

.btn-fullwidth {
    width: 100%;
}

.btn-blue {
    background-color: #331ED4;
    color: #fff;
}

.btn-blue:hover {
    border: 1px solid #331ED4;
    background-color: #fff;
    color: #331ED4;
}

.btn-red {
    background-color: #D41E33;
    color: #fff;
}

.btn-red:hover {
    border: 1px solid #D41E33;
    background-color: #fff;
    color: #D41E33;
}

.btn-green {
    background-color: #1E9433;
    color: #fff;
}

.btn-green:hover {
    border: 1px solid #1E9433;
    background-color: #fff;
    color: #1E9433;
}

.btn-aqua {
    background-color: #1E9494;
    color: #fff;
    border: 1px solid #1E9494;
}

.btn-aqua:hover {
    border: 1px solid #1E9494;
    background-color: #fff;
    color: #1E9494;
}

.btn-void {
    background-color: #112;
    color: #ddd;
}

.btn-void:focus {
    color: #ddd;
    border: 1px dotted #ddd;
}

.btn-void:hover {
    background-color: #223;
    color: #fff;
}

.btn-sidebarlink {
    text-align: left;
    background-color: #223;
    color: #ddd;
    border-radius: 25px;
}

.btn-sidebarlink:focus {
    /* background-color: transparent; */
    /* color: #ddd; */
    border: 1px dotted #ddd;
}

.btn-sidebarlink:hover, li.active .btn-sidebarlink {
    /* background-color: transparent; */
    background-color: #223;
    /* color: rgb(247, 146, 146); */
    border-left: 1px solid rgb(235, 127, 127);
}

.btn-dashboard {
    background-color: #222;
    color: #eee;
    border: 1px solid #000;
    margin-bottom: 1em;
    margin-top: 1.5em;
    margin-left: 1em;
    /* margin-right: 1em; */
    width: 9em;
    text-align: center;
    border-radius: 10px;
}

.btn-dashboard:hover, .btn-dashboard:focus {
    color: #eee;
    background-color: rgb(51, 27, 0);
    /* box-shadow: 7px 14px #888888; */
    animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

.btn-dashboard-red {
    background-color: rgb(68, 0, 23);
    color: #eee;
    border: 1px solid rgb(68, 0, 23);
}

.btn-dashboard-green {
    background-color: rgb(0, 66, 12);
    color: #eee;
    border: 1px solid rgb(0, 66, 12);
}

.btn-dashboard-blue {
    background-color: rgb(0, 30, 90);
    color: #eee;
    border: 1px solid rgb(0, 30, 90);
}

.btn-dashboard-purple {
    background-color: #202;
    color: #eee;
    border: 1px solid #202;
}

.btn-dashboard-yellow {
    background-color: #330;
    color: #eee;
    border: 1px solid #330;
}

.btn-dashboard-aqua {
    background-color: rgb(0, 58, 58);
    color: #eee;
    border: 1px solid rgb(0, 58, 58);
}

#iw-container  .iw-title {
    width: 250px !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 30;
    padding: 10px;
    background-color: #390047;
    color: white;
    border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
    overflow-wrap: break-word;
}

.iw-content div {
    margin-bottom: 2px;
    padding: 2px 10px;
    font-size: 13px;
}

.iw-subTitle {
    font-size: 15px;
    font-weight: 25;
    background-color: #393939;
    color: #fff;
}

.gm-style-iw {
    width: 250px !important;
    top: 15px !important;
    left: 0 !important;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 72, 72, 0.6);
    border-radius: 2px 2px 10px 10px;
}

li.paginate_button.active a {
    background-color: black;
}

.partial-nav li a:hover, .partial-nav li.active a {
    color: #00f;
    /* background-color: rgb(250,250,250); */
    border-bottom: 2px solid #00f;
}

th.google-visualization-table-th {
    color: #000;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
}

hr.ruler {
    height: 1px;
    background-color: #000;
    color: #000;
    border: none;
}

.scrollpane {
    overflow: scroll;
    /* max-height: 40em; */
    height: 100%;
}

.panel {
    border: none;
    margin-top: .6em;
}

.panel-heading {
    background-color: rgb(15, 15, 27);
    color: #fff;
    font-size: 1.15em;
}

.panel-footer {
    background-color: #333;
    color: #fff;
}

.panel-body {
    background-color: rgb(240, 235, 240);
    /* background-color: #555; */
    color: #555;
}

#search-form {
    color: #000;
}

#search-form input, #search-form button {
    height: 32px;
    border-radius: 0;
}

.report .panel .panel-heading {
    padding: 1em;
}

.report .panel .panel-footer {
    padding: 1em;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
}
  
/* Hide default HTML checkbox */
.switch input {display:none;}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #777;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #717;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #717;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.text-red {
    color: #c03;
}

.text-blue {
    color: #03c;
}

.text-green {
    color: #015e18;
}

.text-yellow {
    color: rgb(255, 217, 0);
}

.text-dark {
    color: #111;
}

.text-light {
    color: #eee;
}

.text-gray {
    color: #777;
}

.bg-blue {
    background-color: rgb(47, 83, 161);
    color: #eee;
}

.bg-red {
    background-color: rgb(161, 47, 47);
    color: #eee;
}

.bg-green {
    background-color: rgb(51, 161, 47);
    color: #eee;
}

.bg-purple {
    background-color: rgb(161, 47, 161);
    color: #eee;
}

.bg-aqua {
    background-color: rgb(47, 153, 161);
    color: #eee;
}

.bg-dark {
    background-color: #0f0f1b;
    color: #eee;
}

.bg-light {
    background-color: rgb(209, 205, 205);
    color: #111;
}

.bg-transparent {
    background-color: transparent;
}

.bg-dark li a, .bg-dark a {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

.bg-dark li a:hover, .bg-dark li.active a {
    color: rgb(255, 217, 0);
    background-color: transparent;
}

.bg-dark .ruler {
    background-color: #aaa;
}

.bg-dark li a:hover, .bg-dark li.active a, .bg-dark li a:focus {
    color: rgb(255, 217, 0);
    border-left: 1px solid #1ee;
    background-color: transparent;
}

.bg-dark li > a:focus, .bg-dark a:hover, .bg-dark a.active {
    color: rgb(255, 217, 0);
    background-color: transparent;
}

#sidebar-toggle {
    position: fixed;
    top: 0;
    left: 10px;
    z-index: 500;
    background-color: #eee;
}

@media screen and (min-width: 721px) {
    .full-height {
        height: 100%;
        position: relative;
        overflow: scroll;
        padding-bottom: 3em;
    }

    .sim-tall {
        max-height: 37.5em;
        overflow: scroll;
    }

    .wrapper {
        position: absolute;
        top: 50px;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    #map-form {
        position: fixed;
        top: 60px;
        z-index: 1;
        vertical-align: middle;
    }
}

@media screen and (max-width: 720px) {
    .full-height {
        height: auto;
    }

    #map-form > .btn {
        width: 100%;
    }
}

.headerDivider {
    border-left:1px solid #38546d; 
    border-right:1px solid #16222c; 
    height:80px;
    position:absolute;
    right:249px;
    top:10px; 
}

.table {
    /* border: none; */
    background-color: rgb(240, 240, 240);
    color: #222;
}

/* Scrollbar styles */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(180, 180, 180) 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}

#map-form .btn, #map-form input {
    background-color: rgba(100, 100, 100, .8);
    color: #ddd;
    border-radius: 25px;
    font-size: 15px;
}

#map-form .btn:hover, #map-form input:hover, #map-form .btn:focus, #map-form input:focus {
    background-color: rgba(50, 50, 50, .8);
    color: #fff;
}

.loader {
    position: fixed;
    top: 0px;
    left: 0px;
    color: #eee;
    font-size: 2em;
    letter-spacing: 5px;
    text-align: center;
    vertical-align: middle;
    z-index: 50;
    height: 100%;
    width: 100%;
    background-color: rgba(50, 50, 50, .6);
}

.sk-fading-circle {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    position: relative;
}
  
.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
  
.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: rgb(255, 124, 17);
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
        animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
        animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
}
  
@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
}
  
@keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.blink{
    text-decoration: blink;
    -webkit-animation-name: blinker;
        -moz-animation-name: blinker;
            -o-animation-name: blinker;
                animation-name: blinker;
    -webkit-animation-duration: 0.6s;
        -moz-animation-duration: 0.6s;
            -o-animation-duration: 0.6s;
                animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
            -o-animation-iteration-count:infinite;
                    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
            -o-animation-iteration-count:infinite;
                    animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
        -moz-animation-direction: alternate;
            -o-animation-direction: alternate;
                animation-direction: alternate;
}

  
.btn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}
  
@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(10, 10);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(25, 25);
    }
}

.btn:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

#logdisplay {
    width: 100%;
}